version: '3.8'

services:
  dogao-agent:
    build: .
    container_name: mfc-sdr-agent
    env_file:
      - .env
    volumes:
      - .:/app
    stdin_open: true
    tty: true
    ports:
      - "8000:80"
    restart: always
